[submodule "vim/pack/vendor/start/gruvbox"]
	path = vim/pack/vendor/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/vendor/start/lightline.vim"]
	path = vim/pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/pack/vendor/start/vim-commentary"]
	path = vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
